.columns-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    list-style: none;
    padding: 5px 10px;
    background-color: #ececfa;
    min-height: 100vh;
    overflow-x: scroll;
    > li {
        display: flex;
        min-width: 200px;
        margin-right: 15px;
        background-color: #fff;
        border-color: 1px solid #bebedd;
        flex-direction: column;
        .header-column {
            background-color: #a0aec0;
            font-size: 1.2rem;
            height: auto;
            color: #fff;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            i {
                cursor: pointer;
            }
        }
        .column-content {
            padding: 5px;
            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 10px;
                    padding: 5px;
                    color: #fff;
                    height: 100px;
                    background-color: #a0aec0;
                }
            }
        }
    }
}
