.container-fluid {
    float: left;
    position: relative;
    @include calc("width", "100% - 30px");
    clear: both;
    padding: 0px 15px;
}


.download-dumo-bar {
    float: right;
    position: fixed;
    background-color: #ff6d69;
    color: #fff;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    text-decoration: none;
}
